@charset "utf-8";
/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 2rem;
}
.cards-small {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}
.card {overflow-x: auto;}
.card table {width: 100%; margin: 0;}
.card-head {padding: .25rem; background: var(--color-primary);}
.card-body {padding: 0 .25rem 1rem .25rem;}
/* mobile */ 
@media screen and (max-width: 768px), print {
  .cards {grid-template-columns: 1fr;}
}